<% content_for :title, "New cost simulation" %>

<h1>New cost simulation</h1>

<%= render "form", cost_simulation: @cost_simulation %>

<br>

<div>
  <%= link_to "Back to cost simulations", cost_simulations_path %>
</div>
