<% content_for :title, "New freight quote" %>

<h1>New freight quote</h1>

<%= render "form", freight_quote: @freight_quote %>

<br>

<div>
  <%= link_to "Back to freight quotes", freight_quotes_path %>
</div>
