<% content_for :title, "New shipment transport" %>

<h1>New shipment transport</h1>

<%= render "form", shipment_transport: @shipment_transport %>

<br>

<div>
  <%= link_to "Back to shipment transports", shipment_transports_path %>
</div>
