<% content_for :title, "Editing customs clearance" %>

<h1>Editing customs clearance</h1>

<%= render "form", customs_clearance: @customs_clearance %>

<br>

<div>
  <%= link_to "Show this customs clearance", @customs_clearance %> |
  <%= link_to "Back to customs clearances", customs_clearances_path %>
</div>
