<% content_for :title, "New customs clearance" %>

<h1>New customs clearance</h1>

<%= render "form", customs_clearance: @customs_clearance %>

<br>

<div>
  <%= link_to "Back to customs clearances", customs_clearances_path %>
</div>
