<% content_for :title, "Editing import process" %>

<h1>Editing import process</h1>

<%= render 'form', import_process: @import_process %>

<br>

<div>
  <%= link_to "Show this import process", @import_process %> |
  <%= link_to "Back to import processes", import_processes_path %>
</div>
