<% content_for :title, "New export process" %>

<h1>New export process</h1>

<%= render "form", export_process: @export_process %>

<br>

<div>
  <%= link_to "Back to export processes", export_processes_path %>
</div>
